rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null && request.auth.uid != null;
    }

    match /legislation/{legislation=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    match /documents/{document=**} {
      function isPublished() {
        return !('published' in resource.data) || resource.data.published != false;
      }
      function isAuthor() {
        return 'authorUid' in resource.data && resource.data.authorUid == request.auth.uid;
      }
      function isPublic() {
        return resource.data.confidentiality == 'Public';
      }
      function isDeclassified() {
        return 'declassifyAt' in resource.data && resource.data.declassifyAt != null && request.time >= resource.data.declassifyAt;
      }
      function isViewer() {
        return 'viewers' in resource.data && resource.data.viewers.size() > 0 && request.auth.token.roles.hasAny(resource.data.viewers);
      }
      function canReadDocument() {
        return (!isPublished() && isSignedIn() && isAuthor()) ||
               (isPublished() && isPublic()) ||
               (isPublished() && (!isPublic()) && isSignedIn() && (isDeclassified() || isAuthor() || isViewer()));
      }

      allow read: if canReadDocument();
      allow write: if isSignedIn();
    }
    match /settings/{setting=**} {
      allow read: if true;
      allow write: if isSignedIn() && ('Chairman' in request.auth.token.roles || 'Speaker' in request.auth.token.roles || 'DeputySpeaker' in request.auth.token.roles);
    }
  }
}
