rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null && request.auth.uid != null;
    }

    match /legislation/{legislation=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    match /documents/{document=**} {
      allow read: if resource.data.confidentiality == 'Public' || isSignedIn();
      allow write: if isSignedIn();
    }
    match /settings/{setting=**} {
      allow read: if true;
      allow write: if isSignedIn() && ('Chairman' in request.auth.token.roles || 'Speaker' in request.auth.token.roles || 'DeputySpeaker' in request.auth.token.roles);
    }
  }
}
