<!DOCTYPE html>
<html>
  <head>
    <title>建國中學班聯會法律與公文系統</title>
    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta name="google-site-verification" content="ftkf4uS4ti7uUj6th-tWbDwgO4-NsOSUSmNrMQYlA5c" />

    <link rel="icon" href="favicon.ico">
    <style>
      @media (prefers-color-scheme: dark) {
        .auto-dark {
          background-color: #181818;
          color: #ffffff;
        }
      }
    </style>
  </head>
  <body style="margin: 0">
    <div itemscope itemtype="https://schema.org/WebSite">
      <link itemprop="url" href="https://cksc-legislation.firebaseapp.com/" />
      <meta itemprop="name" content="建國中學班聯會法律與公文系統"/>
    </div>
    <!-- quasar:entry-point -->
  </body>
</html>
